01circle.~f
01circle.~~f
01circle.exe
02circle.exe
03bisection.~f
03bisection.exe
04bisectionTwo.~f
04bisectionTwo.~~f
04regulaFalsi.~f
04regulaFalsi.exe
05regulaFalsi.~f
06regulaFalsiMod.~f
06regulaFalsiMod.exe
07Newton.~f
08NewtonUsingLimit4Derivate.~f
09Rounding.~f
09Rounding.exe
10DoubleZero.~f
10DoubleZero.exe
functionPlot.~f